STIS_Data/ filter=lfs diff=lfs merge=lfs -text
STIS_Data/j003944.71+402056.2_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j003958.22+402329.0_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004354.05+412626.0_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004431.66+413612.4_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004511.82+415025.3_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004037.92+404333.3_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004412.17+413324.2_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004412.97+413328.8_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004420.52+411751.1_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004511.85+413712.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004515.27+413747.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004034.61+404326.1_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004427.47+415150.0_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004454.37+412823.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004539.00+415439.0_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004543.46+414513.6_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j003733.35+400036.6_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004029.71+404429.8_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004030.94+404246.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004031.52+404501.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004413.84+414903.9_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004438.71+415553.5_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004539.70+415054.8_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/j004546.81+415431.7_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
