STIS_Data/2massj085747_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj181129_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj203326_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj150958_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj150958_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj182302_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj203110_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj203234_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj203311_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj204521_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj173628_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj173628_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj181129_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj182302_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj203110_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj130152_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj130152_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj170756_stis_Opt.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2massj170756_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj150958_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj150958_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj203110_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj203234_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj203311_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj182302_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj203326_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj204521_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj085747_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj130152_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj170756_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj173628_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
MIRI_Data/2massj181129_miri_ifu.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj182302_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj203110_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj203311_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj203326_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj204521_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj085747_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj170756_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj173628_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj181129_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj203234_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/2massj130152_nircam_ss.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/ filter=lfs diff=lfs merge=lfs -text
NIRCam_Data/ filter=lfs diff=lfs merge=lfs -text
MIRI_Data/ filter=lfs diff=lfs merge=lfs -text
