STIS_Data/azv23_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/azv86_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/mr12-star11_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/ngc330-110_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/ngc330-114_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/ngc346-056_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs3014_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs3171_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/mr12-star09_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/mr12-star10_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/smc5-003739_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/smc5-079264_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/smc5-082923_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs0413_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs0626_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs0662_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs0699_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/azv132_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/azv4_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/mr12-star0607_stis_UV.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/smc5-000398_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/2dfs3030_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/azv218_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/azv404_stis.fits filter=lfs diff=lfs merge=lfs -text
STIS_Data/ngc330-116_stis.fits filter=lfs diff=lfs merge=lfs -text
IUE_Data/bbb-smc280_iue.fits filter=lfs diff=lfs merge=lfs -text
IUE_Data/sk191_iue.fits filter=lfs diff=lfs merge=lfs -text
